body{
  font-size: 16px;
  background-color: #61122f;
  font-family: 'Oxygen',sans-serif;

}
#header-nav{
  background-color: #f6B319;

  border-color: black;
  border-style:groove;
  border-width: thin;
  font-weight: bold;


}
.navbar-brand h1{
  font-family: 'Lora',serif;
  color:#557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top:20px;
  line-height: .75;
  float: left;
}
 .icon-bar{
  border:1px solid #61122f;

}
#a1,#a2,#a3{
  color:#61122f;
}


#d2{
    width:50%;
    float:left;
    margin-top:20px;


}
#d1{
  width:50%;
  float:right;
  margin-top: 35px;

}

#nav-list{
  text-align: center;
  color:black;
  float:none;
  border-color: yellow;

}

#main-content{
  color:white;
  text-align: center;
}
.col-sm-12, .col-md-12, .col-xs-12{
  color:black;
  text-align: center;
  background-color:#808284;
  font-weight: bold;
  float:none;
}
@media(min-width:1200px){
.col-sm-12, .col-md-12, .col-xs-12{
  width:95%;
   }
}
@media(min-width:992px) and (max-width:1199px){
   .col-sm-12, .col-md-12, .col-xs-12{
     /* margin-left: 70px;
     margin-right: 70px; */
     width:90%;
   }
}
@media(max-width:991px){
  .col-sm-12, .col-md-12, .col-xs-12{
    /* width:75% */
    width:80%;
  }
}
@media(max-width:767px){
  .navbar-brand h1{
    font-family: 'Lora',serif;
    color:#557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    padding-top:20px;
    line-height: .75;
  }
}
